<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${policy.getDisplayName() + ' - MDM'}"></title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var deletePolicyModal = document.getElementById('staticBackdrop')
            deletePolicyModal.addEventListener('show.bs.modal', function (event) {
                let button = event.relatedTarget
                let policyName = button.getAttribute('data-policy-name')
                let modalBody = deletePolicyModal.querySelector('.modal-body')

                modalBody.textContent = 'Are you sure that you want to delete the policy ' + policyName
            });

            $(deletePolicyModal.querySelector(".btn-danger")).click(function () {
                $("#delete-policy").submit();
            })
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">MDM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarEnterprises" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Enterprises
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarEnterprises">
                            <li th:unless="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/enterprises/new}">Create Enterprise</a>
                            </li>
                            <li th:if="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/enterprises/{enterpriseId}(enterpriseId=${applicationUsersEnterprise.getId()})}">
                                    My Enterprise
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" aria-current="page" href="#" id="navbarPolicies" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Policies
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarPolicies">
                            <li th:if="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/policies/new}">New Policy</a>
                            </li>
                            <li th:if="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/policies/list}">
                                    List Policies
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarEnrollmentTokens" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Enrollment Tokens
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarEnrollmentTokens">
                            <li th:if="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/enrollment-tokens/new}">New Enrollment Token</a>
                            </li>
                            <li th:if="${applicationUserHasEnterprise}">
                                <a class="dropdown-item" th:href="@{/enrollment-tokens/list}">
                                    List Enrollment Tokens
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/devices/list}">Device Inventory</a>
                    </li>
                </ul>
                <span class="navbar-text" th:text="${principalName}"></span>
                <a class="navbar-text" th:href="@{/logout}">Logout</a>
            </div>
        </div>
    </nav>
    <div th:if="${success} != ''" class="alert alert-success" role="alert">Policy has successfully been created!</div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Applications</th>
            <th scope="col">Security Requirements</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${policy.getId()}"></td>
            <td th:text="${policy.getDisplayName()}"></td>
            <td th:if="${policy.getApplications().isEmpty()}" th:text="No Application are Available">
            <td th:unless="${policy.getApplications().isEmpty()}">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Package Name</th>
                            <th scope="col">Install Type</th>
                            <th scope="col">Permission Policy</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="applicationPolicy : ${policy.getApplications()}">
                            <td th:text="${applicationPolicy.getPackageName()}"></td>
                            <td th:text="${applicationPolicy.getInstallType()}"></td>
                            <td th:text="${applicationPolicy.getDefaultPermissionPolicy()}"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Password quality: </td>
                        <td th:text="${policy.getPasswordQuality()}"></td>
                    </tr>
                    <tr>
                        <td>Password scope: </td>
                        <td th:text="${policy.getPasswordScope()}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <button type="button" class="btn btn-danger delete-policy"
                        data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        th:data-policy-name="${policy.getName()}"
                >Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <form method="post" th:action="@{/policies/delete}" th:object="${deletePolicy}" id="delete-policy">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{name}">
    </form>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Delete Policy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>