<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>New Policy</h1>
    </div>
    <form th:action="@{/policies/create}" th:object="${policy}"
          method="post" style="max-width: 960px; margin: 0 auto;">
        <div class="mb-3">
            <label for="displayName" class="form-label">Email address</label>
            <input id="displayName" th:field="*{displayName}" class="form-control" required />
        </div>
        <div class="mb-3">
            <label class="col-3 col-form-label">Applications: </label>
            <div class="col-9" th:each="applicationPolicy, itemStat : *{applications}">
                <div class="col-4 d-inline-block">
                    <input class="form-control" th:field="*{applications[__${itemStat.index}__].packageName}" />
                </div>
                <div class="col-4 d-inline-block">
                    <input class="form-control" th:field="*{applications[__${itemStat.index}__].installType}" />
                </div>
                <div class="col-4 d-inline-block">
                    <input class="form-control" th:field="*{applications[__${itemStat.index}__].defaultPermissionPolicy}" />
                </div>
            </div>
        </div>
        <div class="mb-3 form-check">
            <input th:field="*{initial}" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-label" for="flexCheckDefault">
                Default:
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>